.grid {
    margin: 25vh auto;
    width: 50vw;

    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 30%;
    height: 50px;
    margin: 1%;
    background-color: darkred;
}
.box:nth-child(2n) {
    background-color: darkblue;
}
